<div style="color: #AAA;">

	<h3 ng-hide="true">System Passwords</h3>
	<p style="margin-top: 0px; padding-bottom: 10px;">Hover over a system icon to see your password for that system.</p>

	<div style="margin-bottom: 20px;">
		<ul style="list-style-type: none; padding-left: 0px;">
			<li ng-repeat="system in systems | orderBy:'name'" style="display: inline; cursor: pointer; padding: 0px 8px 0px 0px;">
				<img ng-src="img/icons/{{ system.icon }}" 
					 width="24"
					 height="24"
					 ng-mouseover="mouseover(system)"
					 alt="{{ system.name }}" />
			</li>
		</ul>
	</div>

	<div id="system-system" style="margin-top: 20px;">
		<grid-input width="120" panel="'NUM'" align="'right'" margin="10" model="system.salt" on-change="changeSalt()"></grid-input>
		<grid-input width="160" panel="'SYSTEM'" align="'left'" margin="10" model="system.name" />
		<grid-input width="300" panel="'PASSWORD'" align="'center'" margin="0" model="system.password" />
	</div>

	<br style="clear: both;" />
	<br />

	<p>For all other systems, enter a name below to see your password for that system.</p>

	<div id="custom-system">
		<grid-input width="120" panel="'NUM'" align="'right'" margin="10" model="system.salt" on-change="changeSalt()"></grid-input>
		<grid-input width="160" panel="'SYSTEM'" align="'left'" margin="10" model="custom.name" on-change="changeCustom()" />
		<grid-input width="300" panel="'PASSWORD'" align="'center'" margin="0" model="custom.password" />
	</div>

	<br style="clear: both;" />

</div>

